/* KEEP_IN_SYNC(fullscreen/resources/figmake/shadcn/globals.css) */

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #030213;
  --primary-foreground: #ffffff;
  --secondary: #f1f1f5;
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #b4b4b4;
  --chart-1: #e59f3c;
  --chart-2: #7ba5a5;
  --chart-3: #5a6275;
  --chart-4: #ddd061;
  --chart-5: #ccc553;
  --radius: 0.625rem;
  --sidebar: #fafafa;
  --sidebar-foreground: #252525;
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #353535;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;
}

.dark {
  --background: #252525;
  --foreground: #fafafa;
  --card: #252525;
  --card-foreground: #fafafa;
  --popover: #252525;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #353535;
  --secondary: #454545;
  --secondary-foreground: #fafafa;
  --muted: #454545;
  --muted-foreground: #b4b4b4;
  --accent: #454545;
  --accent-foreground: #fafafa;
  --destructive: #8b2830;
  --destructive-foreground: #e85462;
  --border: #454545;
  --input: #454545;
  --ring: #707070;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: #5b5fc7;
  --chart-2: #6bc5b8;
  --chart-3: #ccc553;
  --chart-4: #c04db5;
  --chart-5: #e66853;
  --sidebar: #353535;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #5b5fc7;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #454545;
  --sidebar-ring: #707070;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
